/* Google Font */
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Open+Sans:wght@400;700;800&display=swap");

/* Common style starts here */

body {
  font-family: "Lato", sans-serif;
  font-family: "Open Sans", sans-serif;
}

.text-primary{
    color: #FD6E0A;
}

.btn-primary{
    background-color: #FD6E0A;
    color: #ffffff;
    border-radius: 5px;
    border: none;
    font-size: 20px;
    font-weight: 700;
    padding: 15px 35px;
}

/* Common style ends here */

/* Nav style starts here*/
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-title{
    color: #181818;
    font-size: 45px;
    font-weight: 800;
}
nav > ul{
    display: flex;
    align-items: center;
}

nav li{
    list-style: none;
    margin-right: 50px;
}

nav a{
    text-decoration: none;
    color:#474747 ;
}

/* Nav style ends here*/
